<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion des stocks</title>
</head>
<header>
    <a href="/">Accueil</a>
</header>
<!--<details open>
    <summary>Caractéristiques techniques</summary>
    <table>
       <tr>
          <th>Nom</th>
          <th>Détails</th>
       </tr>
       <tr>
          <td>Matière</td>
          <td>Inox alimentaire</td>
       </tr>
       <tr>
          <td>Dimensions</td>
          <td>140x120 mm, hauteur 30 mm</td>
       </tr>
    </table>
 </details>
 