<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock</title>
</head>
<header><h1>Accueil</h1></header>

<body>




    <p><a href="/alimentaire">Alimentaire</a></p>
    <p><a href="/baby">Bébé</a></p>
    <p><a href="/entretien">Entretien_nettoyage</a></p>
    <p><a href="">Hygiène</a></p>
    <p><a href="">Toute la liste</a></p>
    
</body>
</html>