<%- include('partials/header.ejs') %>

<body>




    <p><a href="/alimentaire">Alimentaire</a></p>
    <p><a href="/baby">Bébé</a></p>
    <p><a href="/entretien">Entretien_nettoyage</a></p>
    <p><a href="">Hygiène</a></p>
    <p><a href="">Toute la liste</a></p>
    
</body>
</html>

<%- include('partials/footer.ejs') %>