<%- include('partials/header.ejs') %>

<h3>Ajouter un produit</h3>
<form action="/product/" method="post">
  <label>Nom du produit :
    <input type="text" name="name">
  </label>
  <% for(const category of locals.categories) { %>
  <label>catégorie :
    <input type="<%= category.name %>" name="category" >
  </label>
  <% }; %>
  <label>quantity :
    <input type="number" name="quantity">
  </label>
  <button type="submit">Ajouter</button>
</form>

<%- include('partials/footer.ejs') %>